/*GEN*/
*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: right;
    justify-content: space-between;
    background-color: #886EFF;
    color: #FFFFFF;
}