/*COLOUR PALETTE:
Raisin Black: #272932
Pink: #FC6399
Green: #019875
Yellow: #FFD700
Snow: #FFFBFA*/

*{
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body {
    background-color: #272932;
}

/*NAV BAR*/

.c-navbar {
    background-color: #272932;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 3px dotted #FC6399;
}

.menu {
    display: flex;
    justify-content: space-around;
    margin: 1rem 2rem;
}

.c-navbar a {
    text-decoration: none;
    color: #FC6399;
    font-size: 1.5rem;
    font-family: "Fredoka", sans-serif;
    padding: 0.5rem;
}

.c-navbar a:hover {
    color: #FFD700;
    background-color: #FC6399;
    border: 2px solid #FC6399;
    border-radius: 6px;
}

.c-navbar li {
    list-style: none;
}

/*HERO PAGE*/
h1 {
    font-size: 10rem;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    color: #FC6399;
    text-align: right;
    margin-top: 15rem;
}

.hero-sub {
    font-size: 3rem;
    font-family: "Quicksand", sans-serif;
    color: #FFFBFA;
    text-align: right;
    margin-bottom: 15rem;
}